label {
    font-family: 'Bebas Neue', cursive;
}

.block{
    background-color: #f5f5f5;
    border: 10px solid #e6e6e6;
    width: 37%;
    margin: 0 auto;
}

.block_choice{
    border-bottom: 1px solid gray;
    width: 95%;
    margin: 0 auto;
    line-height: 2;
}
.block_choice div{
    padding-left: 20px;
    border: 1px solid #f5f5f5;
    margin: 20px 0 20px 0;
}

.custom-radio{
    transform: scale(2);
}
.block_choice div > span{
    font-size: 17px;
    color: #757575;
    padding-left: 180px;
}


.block_choice div > label{
    font-weight: lighter;
    font-size: 22px;
    color: #757575;
    padding-left: 10px;
}

.block_choice div:hover{
    background: rgba(170, 234, 250, .3);
    border: 1px solid #73d4fa;
}

.block_inner > div:nth-child(2){
    border-bottom: 1px solid gray;
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.block_inner > div:nth-child(2) select{
    height: 30%;
    margin-left: 15px;
}

.block_inner > div:last-child{
    text-align: center;
}

.block_inner > div:last-child > button{
    border-radius: 25px;
    border: none;
    background: #4367f7;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.block_inner > div:last-child h2{
    font-weight: lighter;
    font-size: 22px;
    color: #757575;
    padding-left: 10px;
    font-family: 'Bebas Neue', cursive;
}

.block_inner > div:last-child h2 > span{
    font-weight: lighter;
    font-size: 22px;
    color: #2e6fbf;
    padding-left: 10px;
    font-family: 'Bebas Neue', cursive;    
}

.block_inner > div:last-child p{
    color: #5bcfac;
}

@media (max-width: 1200px){
    .block{
        width: 50%;
    }
}